body{
    font-family: 'Arvo', serif;
    size: 16px;
    color:black;
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top: 20px;
    left: 20px;
   
}

h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

p{
    margin-top: 0;
}

section{
    height: 100vh;
    background-size: cover;
    background-position: center;
    /*Con esto logramos ese efecto parallax trucho*/
    background-attachment: fixed;
}

section.scPrimera{
    background-image: url('../assets/ek_6.jpg');
}
section.scSegunda{
    background-image: url('../assets/ek_2.jpg');
}
section.scTercera{
    background-image: url('../assets/ek_3.jpg');
}
section.scCuarta{
    background-image: url('../assets/ek_4.jpg');
}
section.scQuinta{
    background-image: url('../assets/ek_5.jpg');
}
section.scSexta{
    background-image: url('../assets/ek_1.jpg');
}

footer{
    position: fixed;
    bottom: 20px;
    left: 20px;
}

footer a{
    text-decoration: none;
    color: black;
    margin: 0 10px 0 0;
    transition: all 0.5s;
}

footer a:hover{
    color: orangered;
}